.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
}

@media screen and (min-width: 768px) {
  .search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.search--filters {
  min-width: 300px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
  border: 1px solid #cccccc;
}

@media screen and (min-width: 768px) {
  .search--filters {
    padding: 0;
    border: none;
  }
}

.search--filters.active .search--toggle > svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search--filters.active .search--filters-options {
  max-height: 140em;
}

.search--toggle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  justify-content: flex-start;
  width: 100%;
  background-color: #ffffff;
  border: none;
  min-height: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #4f2d7f;
}

.search--toggle > svg {
  margin-right: 5px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

@media screen and (min-width: 768px) {
  .search--toggle {
    display: none !important;
  }
}

.search--filters-options {
  overflow: hidden;
  max-height: 0;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: max-height;
  transition-property: max-height;
}

@media screen and (min-width: 768px) {
  .search--filters-options {
    max-height: none !important;
  }
}

.search--results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .search--results {
    margin-left: 20px;
  }
}

.CoveoResultLink, a.CoveoResultLink, .CoveoResult a.CoveoResultLink {
  color: #4f2d7f;
}

.CoveoResultLink:hover, a.CoveoResultLink:hover, .CoveoResult a.CoveoResultLink:hover {
  color: #4f2d7f;
}

.coveo-facet-value.coveo-facet-search-button {
  color: #4f2d7f;
}

.coveo-facet-header-title {
  color: #000000;
}

.coveo-facet-header {
  background-color: transparent;
  border-bottom: 1px solid #cccccc;
}

.coveo-facet-footer {
  border-radius: 5px;
}

.CoveoFacet, .CoveoFacetRange, .CoveoFacetSlider, .CoveoHierarchicalFacet, .CoveoCategoryFacet {
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 5px;
}

.coveo-facet-more-icon-svg, .coveo-facet-less-icon-svg, .coveo-facet-settings-more-svg, .coveo-search-button-svg {
  color: #4f2d7f;
}

.CoveoSearchButton:hover .coveo-magnifier-circle-svg {
  color: #4f2d7f;
}

.coveo-facet-header-settings {
  display: none;
}

.coveo-facet-header-eraser {
  display: block;
}

.coveo-facet-header-eraser:after {
  content: 'Clear';
}

.coveo-facet-header-eraser svg {
  display: none;
}

.Filter-main-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=FilterType.css.map */